.carousel-root {
  position: relative;
  z-index: 5;

  .carousel-box {
    position: absolute;
    top: -90px;
    width: 100%;
    height: 446px;
    background-color: #fff;
    border-radius: 50px;
    box-shadow: 0px 40px 30px rgba(60, 49, 13, 0.15);
    margin-top: 500px;
    @media screen and (max-width: 700px) {
      display: none;
    }
    .text {
      position: absolute;
      right: 45px;
      bottom: 75px;
      font-family: "Italianno";
      font-style: normal;
      font-weight: 400;
      font-size: 40px;
      line-height: 51px;
      letter-spacing: 0.135em;
      color: #707070;
      @media screen and (max-width: 1140px) {
        font-size: clamp(1.6rem, 2.5vw, 15px);
        line-height: 25px;
      }
      @media screen and (max-width: 650px) {
        display: none;
      }

      span {
        padding-left: 80px;
        @media screen and (max-width: 1140px) {
          padding-left: 20px;
        }
      }
    }

    .carousel-item {
      position: absolute;
    }
  }
  // end of box
  .carousel {
    .image {
      .details {
        display: inline-block;
        text-align: start;
        position: relative;
        right: 37%;
        bottom: 120px;
        li {
          padding-top: 7px;
        }
        li:nth-child(even) {
          font-family: "Lato";
          font-style: normal;
          font-weight: 900;
          font-size: 24px;
          line-height: 121%;
          letter-spacing: 0.095em;
          color: #181818;
          @media screen and (max-width: 950px) {
            font-size: 16px;
          }
        }
        li:nth-child(odd) {
          font-family: "Lato";
          font-style: normal;
          font-weight: 300;
          font-size: 12px;
          line-height: 14px;
          color: #181818;
        }

        li {
          list-style-type: none;
        }
        @media screen and (max-width: 700px) {
          right: 34%;
          transform: translateX(34%);
          bottom: 50px !important;
          background-color: #fff;
          width: 100%;
          padding: 29px;
          z-index: -1;
          border-radius: 50px;
          box-shadow: 0px 40px 30px rgba(60, 49, 13, 0.15);
        }
      }
    }
    .image {
      img {
        max-width: 1000px;
        height: 600px;
        @media screen and (max-width: 700px) {
          height: auto;
        }
      }
    }
    span {
      font-size: clamp(4rem, 10vw, 11.875rem);
      font-weight: bold;
      color: #fff;
      left: 50%;
      position: absolute;
      transform: translateX(-50%);
      z-index: -1;
    }
  }

  .carousel .thumbs-wrapper {
    margin: 20px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    position: absolute;

    bottom: 145px;
    left: 50%;
    transform: translateX(-50%);

    @media screen and (max-width: 940px) {
      bottom: 77px;
    }
    @media screen and (max-width: 650px) {
      bottom: 145px !important;
      left: 88%;
      transform: translateX(-50%) rotate(90deg);
    }
    @media screen and (max-width: 420px) {
      right: 80%;
    }
  }

  .carousel .thumb {
    border: none;
    width: 90px !important;
    height: 90px;
    border-radius: 20px;
    margin-right: 65px;
    cursor: pointer;

    @media screen and (max-width: 1440px) {
      width: 60px !important;
      height: 60px;
      margin-right: 25px;
    }

    img {
      display: none;
    }
  }
  .carousel .thumb:nth-child(1) {
    background: #df1f26;
    border: none;
  }
  .carousel .thumb:nth-child(2) {
    background: #141414;
    border: none;
  }
  .carousel .thumb:nth-child(3) {
    background: #e4e4e4;
    border: none;
  }
}
